.card {
  width: 300px;
  height: 600px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.product_photo {
  width: 100%;
  height: 80%;
  background-color: #f2994f;
  cursor: pointer;
  overflow: hidden;
}

.product_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: 0.3s all ease-out;
}

.product_photo img:hover {
  transform: scale(1.05);
  filter: blur(0.3rem) brightness(70%);
}
.product_photo:hover::after {
  content: "VIEW ITEM";
  font-weight: 600;
  color: white;
  position: absolute;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  letter-spacing: 0.2rem;
  background-color: rgba(255, 255, 255, 0.3);
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  pointer-events: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  margin: 1.5rem 1.5rem 0.8rem 1.5rem;
  font-size: 18px;
  align-self: start;
  color: #8c2c23;
  white-space: nowrap;
}

.price_container {
  background-color: #f2994f;
  position: absolute;
  top: 64.5%;
  left: 40px;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
}

.price_container span {
  font-weight: 500;
  color: white;
}

.text_container {
  margin: 0rem 1.5rem;
  height: 60px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  text-justify: newspaper;
  font-size: 14px;
  color: #182526;
}

.product_card_buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.description {
  position: relative;
  height: 4rem;
}

.description::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, #f7f7f7 100%);
}

.card button {
  margin: 1.5rem;
  flex: 1;
  padding: 0.2rem;
  border: none;
  background-color: #f2994f;
  font-family: "Poppins";
  font-weight: 500;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 9rem;
}

.card button:active {
  background-color: #8c2c23;
}

.card button:hover {
  transform: scale(1.05);
}

.heart_icon {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  color: #f2994f;
  cursor: pointer;
  animation: heart 0.1s forwards ease-in;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
