.container {
  display: grid;
  width: 100%;
  height: 100vh;

  grid-template-columns: 1fr 3fr;
  gap: 10px;
  grid-template-areas:
    "side_menu cards"
    "side_menu cards";
}

.cards {
  grid-area: cards;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

@media (max-width: 750px) {
  .container {
    grid-template-areas:
      "side_menu"
      "cards";
    grid-template-columns: auto;
    grid-template-rows: 50px max-content;
  }

  .side_menu {
    width: 100%;
  }
}
