.container {
  min-width: 350px;
  width: 40%;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1rem 1.5rem;
}

.container form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.container label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.message {
  margin-bottom: 1.5rem;
}

.container form input {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1.5rem;
}

.container button {
  border-radius: 20px;
  padding: 0.3rem 2rem;
  color: white;
  font-weight: 500;
  background-color: #f29c50;
  cursor: pointer;
}

.container button:disabled {
  background-color: rgb(200, 200, 200);
}
