.container {
  display: grid;
  width: 100%;
  min-height: 400px;
  gap: 10px;
}

.cards {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

@media (max-width: 750px) {
  .container {
    grid-template-areas:
      "side_menu"
      "cards";
    grid-template-columns: auto;
    grid-template-rows: 50px max-content;
  }

  .side_menu {
    width: 100%;
  }
}
