.background {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(0%);
  transition: 0.2s all ease-out;
  backdrop-filter: blur(2px);
}

.menu_links {
  font-weight: 700;
  font-size: large;
  padding: 3rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: rgb(42, 42, 42);
}

.menu_links li {
  margin-bottom: 2rem;
}

hr {
  margin-bottom: 2rem;
  pointer-events: none;
}
.menu_links ul {
  list-style: none;
  text-align: center;
}

.mobile_menu_container {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 99999;
  backdrop-filter: blur(5px);
  transition: 0.3s all ease-out;
  display: flex;
  justify-content: center;
  max-width: 350px;
  min-width: auto;
}

.close {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: larger;
}

@media (min-width: 750px) {
  .background {
    display: none;
  }
}
