footer {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 27rem;
  margin-top: 3rem;
  padding-top: 5rem;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  background-color: lightblue;
}

footer p {
  font-weight: 400;
  text-align: justify;
  text-justify: newspaper;
}
