.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  color: #182526;
  font-weight: 500;
  position: relative;
}

.logo {
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.1s ease;
}

.menu-mobile {
  display: none;
}

.menu-item:hover {
  border-bottom: 2px solid #f29c50;
}

.menu-item:active {
  color: #f29c50;
}

.mobile-menu-container {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 5rem;
  bottom: 0;
  right: 0;
  left: 20%;
  height: 100%;
  z-index: 99999;
  backdrop-filter: blur(5px);
  transition: 0.3s all ease-out;
  display: flex;
  justify-content: center;
}
.menu-links {
  font-weight: 700;
  line-height: 40px;
  font-size: large;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: rgb(42, 42, 42);
}

.menu-links ul {
  list-style: none;
  margin: 3rem;
  text-align: center;
}

.nav-link {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}

.active {
  transform: scale(1.1);
  border-bottom: 2px solid #f29c50;
}

.active .menu-icon {
  color: #f29c50;
}

@media (max-width: 750px) {
  .menu-item {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}
