.newsletter-container {
  background-color: #f2763f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0rem;
}

.newsletter-container span {
  color: #8c2c23;
}
.newsletter-container h2 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.email {
  background-color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
}

.email input {
  border: none;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 500;
  color: rgb(67, 35, 13);
}

.email button {
  border: none;
  padding: 0.2rem 0.8rem;
  background-color: #f2763f;
  font-family: "Poppins";
  color: white;
  font-weight: 400;
  border-radius: 20px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.email button:hover {
  transform: scale(1.1);
  background-color: #d36536;
}

.newsletter-container p {
  color: white;
  text-align: center;
  margin: 0rem 2rem;
  font-size: small;
}

.email input::placeholder {
  font-size: 1rem;
  color: rgb(177, 177, 177);
}

.email input:focus {
  outline: none;
}

.email input:focus::placeholder {
  color: transparent;
}
