* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #f5f5f5;
}

button {
  font-family: inherit;
  border: none;
}

input,
textarea {
  font-family: "Poppins";
}

.App {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav_link {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}

.active {
  transform: scale(1.1);
  border-bottom: 2px solid #f29c50;
}

/* scroll element */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #edab70;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f29c50;
}
